@keyframes border_anim {
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}

.eighthPage{
    background-image: url(../../images/background5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left:6rem;
    padding-right: 6rem;
    color: $font2;
    .row {
        max-width: 1320px;
        margin: 0 auto;

        .content {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
            backdrop-filter: blur(3.5px);
            border-radius: 30px;
            padding: 3rem 3rem;

            h4 {
                font-size: 1.3rem;
                line-height: 1.5;
                padding-left: 16px;
                text-transform: uppercase;
            }
            
            h2 {
                font-weight:bold ;
                padding-left: 16px;
                font-size: 2.8rem;
                line-height: 1.1;
                padding-bottom: 3rem !important;
            }

           .info {
            text-align: left;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #e4e4e4;
            padding: 1rem 0;

            @include respond-custom(mobile){
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
             }
             
            div {
                text-align: left;
                width: 500px;
                @include respond-custom(mobile){
                    text-align: center;
                 }
            }

            h2 {
                font-size: 1.8rem;
                padding-bottom: 0 !important;
            }

            .button-content {
               flex-wrap: wrap;
               text-align: right;
               width: 90px;
               height: 24px;

               li {
                list-style: none;

                a {
                    text-decoration: none;
                    color: $font2;
                    width: 0%;
                }
            }

               .button{
                margin-top: -4px;
                padding: 0;
                width: 0px;
                max-height: 1px;
                display: block;
                background-color: black;
                }
            }
            li:hover + .button{
                
                border-bottom: 1px solid black;
                animation: border_anim 120ms linear forwards;
            }
           }
        }
    }
}