.tenthPage {
    background-image: url(../../images/background5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 3rem;
    padding-right: 3rem;
    color: $font2;

    .row {
        max-width: 1340px;
        margin: 0 auto;

        .content {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
            backdrop-filter: blur(3.5px);
            border-radius: 30px;
            padding: 3rem 3rem;
            max-width: 800px !important;
            margin: 0 auto;
            
            h2 {
                font-size: 2.8rem;
                width: 450px;
                
                @include respond-custom(mobile){
                    font-size: 1.8rem;
                    font-weight: bold;
                    width: 350px;
                    text-align: center;
                    margin: 0 auto;
                 }
            }

            .question {
                border-bottom: 1px solid #e4e4e4;
                
                .question-button {
                    display: flex;
                    padding: 1.5rem 1rem 13px 0px;
                    justify-content: space-between;
                    
                    
                    h3 {
                        font-size: 1.3rem;
                    }
                    svg {
                        float: right;
                    }

                    .button {
                        
                        transition: transform .5s;
                    }    

                    .clicked {
                        transform: rotateY(0deg) rotate(45deg); 
                        transition: transform .5s;
                    }
                }

                .answer {
                    height: 0px;
                    overflow: hidden;
                    transition:.4s;

                    p {
                        font-size: 1rem;
                        margin-bottom: 1rem !important;
                    }
                }
                .show {
                    height: 50px !important;
                }
            }

            .question-button:hover {
                cursor: pointer;
            }
        }
    }
}